.topbar-main{
    height: 70px;
    width: 100%;
    background-color:white;
    display: flex;
    align-items: center;
}
.logo1{
    width: 55px;
    margin-left:20px ;
}
.logos{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 55%;
   margin-left: 30px;
}
.logo{
    cursor: pointer;
    height: 20px;
    
}
.logo:hover{
    color: rgb(144, 138, 138);
}
.user-logo{
    width: 40px;
    position: absolute;
    right: 40px;
    cursor: pointer;
}